<!DOCTYPE html>
<body>
<div id="container">
<%= render "shared/header" %>
<aside id="mainimg"><%= image_tag "india.jpg" %></aside>

<div class="contents"> 
  <h1 class= 'new-review'>新規レビュー!</h1>
  <% @gourmets.each do |gourmet| %>
  <div class="review">
   <%= link_to gourmet.name, gourmet_path(gourmet.id), class: :review_title %>
    <ul class="review-date">
   <%= gourmet.created_at.to_s(:datetime_jp) %></ul>
  </div>   
  <% end %>
</div>

<%= render "shared/footer" %>
</body>
