<!DOCTYPE html>
<body>
<div id="container">
<%= render "shared/header" %>
<aside id="mainimg"><%= image_tag "india.jpg" %></aside>

<div class="contents"> 
  <h1 class= 'new-review'>新規レビュー!</h1>
  <%= form_with(url: search_gourmets_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <% @gourmets.each do |gourmet| %>
  <div class="review">
   <%= link_to gourmet.name, gourmet_path(gourmet.id), class: :review_title %>
    <ul class="review-date">
   <%= gourmet.created_at.to_s(:datetime_jp) %></ul>
  </div>   
  <% end %>
</div>

<%= render "shared/footer" %>
</body>
