<body>
<link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700" rel="stylesheet" class="title">
<nav id="menubar">
<ul>
<%= link_to "Home", root_path, method: :get %>
</ul>
</nav>

<main class="main">
  <div class="inner">
    <div class="gourmet__wrapper">
      <p class="gourmet__hedding">
        <%= @gourmet.name %>
      </p>
      <% if user_signed_in? && current_user.id == @gourmet.user_id %>
        <div class="gourmet__manage">
          <%= link_to "編集する", edit_gourmet_path(@gourmet.id),method: :get, class: :gourmet__btn %>
          <%= link_to "削除する", gourmet_path, method: :delete, class: :gourmet__btn %>
        </div>
      <% end %>
      <div class="gourmet__image">
        <%= image_tag @gourmet.image %>
      </div>
      <div class="gourmet__body">
        <div class="gourmet__detail">
          <p class="detail__message">ジャンル
            <%= @gourmet.genre.name %>
          </p>
        </div>
        <div class="gourmet__detail">
          <p class="detail__message">地域
            <%= @gourmet.area.name %>
          </p>
        </div>
      </div>
      <div class="gourmet__detail">
      <p class="detail__message">メニュー
       <%= @gourmet.menu%>
      </p>
      </div>
      <div class="gourmet__detail">特徴
      <p class="detail__message">
      <%= @gourmet.feature %>
      </p>
      </div>
      <div class="gourmet__detail">
      <p class="detail__message">
      <%= @gourmet.content %>
      </p>
      </div>
</main>
</body>