<body>
<link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700" rel="stylesheet" class="title">
<nav id="menubar">
<ul>
<%= link_to "Home", root_path, method: :get %>
</ul>
</nav>

<main class="main">
  <div class="inner">
    <div class="gourmet__wrapper">
      <p class="gourmet__hedding">
        <%= @gourmet.name %>
      </p>
      <% if user_signed_in? && current_user.id == @gourmet.user_id %>
        <div class="gourmet__manage">
          <%= link_to "編集する", edit_gourmet_path(@gourmet.id),method: :get, class: :gourmet__btn %>
          <%= link_to "削除する", gourmet_path(@gourmet.id), method: :delete, class: :gourmet__btn %>
        </div>
      <% end %>
      <div class="gourmet__image">
        <%= image_tag @gourmet.image.variant(resize:'500x500'), class: :gourmet__image %>
      </div>
      <div class="gourmet__body">
        <div class="gourmet__detail">
          <p class="detail__message">ジャンル:
            <%= @gourmet.genre.name %>
          </p>
        </div>
        <div class="gourmet__detail">
          <p class="detail__message">地域:
            <%= @gourmet.area.name %>
          </p>
        </div>
      </div>
      <div class="gourmet__detail">
      <p class="detail__message">メニュー:
       <%= @gourmet.menu%>
      </p>
      </div>
      <div class="gourmet__detail">
      <p class="detail__message">特徴:
      <%= @gourmet.feature %>
      </p>
      </div>
      <div class="gourmet__detail">
      <p class="detail__message">
      <%= @gourmet.content %>
      </p>
      </div>
      <div class="gourmet__comments">
       <% if user_signed_in? && current_user.id %>
           <%= form_with(model: [@gourmet, @comment], local: true) do |f|%>
            <div class="field">
               <%= f.text_field :text, class: :ef, placeholder: "コメント" %>
               <span class="focus_line"></span>
            </div>
            <div class="actions">
               <%= f.submit "送信する", class: :form__btn  %>
            </div>
           <% end %> 
        <% end %>
        <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%= comment.text %>
              </li>
            <% end %>
        </ul>
      </div>
    </div>
   </div> 
</main>
</body>